altgraph==0.17.4
certifi==2024.8.30
chardet==5.2.0
charset-normalizer==3.4.0
colorama==0.4.6
future==1.0.0
idna==3.10
pefile==2024.8.26
pyodbc==5.2.0
python-dateutil==2.9.0.post0
pywin32==308
pywin32-ctypes==0.2.3
requests==2.32.3
six==1.16.0
tqdm==4.66.5
urllib3==2.2.3
WMI==1.5.1
